/* Contact page styles */
.contact-us-wrapper{

}

.contact-element-wrapper{
    display: block;
    padding: 10px;
    padding-left: 0;
}

.contact-us-input{
    width: 500px;
    height: 300px;
    display: block;
}

.submit{
    margin-top: 20px;
}