body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: rgb(32, 155, 236);
}

hr {
    border-top: 3px double #fccdd3;
}



#registrationForm {
    color: #fccdd3;
}

#search-form {
    padding: 25px;
    color: black;
}

#login-form {
    color: #fccdd3;
}

.form-control {
    background-color: #fccdd3;
    color: black;
    /*background-color: rgb(32, 155, 236);
    color: #fccdd3;*/
}

.contact-us {
    color: #fccdd3;
}

.legal-text {
    color: #fccdd3;
}

#hallsSearch {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: black !important;
}

.advancedsearch {
    color: #fccdd3;
    padding-top: 20px;
}

.navbar_container nav {
    margin-bottom: 0px;
}

@media (min-width: 768px) {
    .navbar_container {
        position: fixed;
        width: 100%;
        /*top: 50px;*/
        z-index: 1000;
    }
}

@media (max-width: 768px) {
    .navbar_container .container {
        padding: 0px;
    }
}

@media (max-width: 768px) {
    .navbar-collapse {
        padding: 0px;
    }

        .navbar-collapse .navbar-nav {
            margin: 0px;
        }
}

.btn {
    background-color: rgb(32, 155, 236);
    color: #fccdd3;
}

    .btn.btn-default:hover {
        background-color: rgb(21, 247, 215);
    }

    .btn:focus {
        border-color: #285e8e;
    }

.navbar nav > li > a {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #fccdd3;
}

#account-links .hero {
    position: relative;
    overflow: hidden;
    min-height: 300px;
    background-color: white;
    margin-left: -15px;
    margin-right: -15px;
    
}

    #account-links .hero h1,
    .hero {
        text-align: center;
        color: black;
        padding-top: 1.2em;
        position: relative;
        z-index: 2;
        font-family: arial, helvetica, "san-serif";
        font-size: 1.4em;
        /*text-transform: uppercase;*/
        /*letter-spacing: 8px;*/
    }

    #account-links .hero p {
        font-size: 15px;
        padding: 0;
    }

    #account-links .hero img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        z-index: -10;
        min-width: 100%;
        min-height: 100%;
    }

.halls {
    margin: 10px;
   
    opacity: 0.9;
    min-height: 300px;
}
.hero:hover{
border: 2px solid rgb(21, 247, 215);
border-style: inset;
}

#account-links img {
    opacity: 0.5;
}



#account-links .btn-default {
    color: black;
    background-color: #fccdd3;
    border-color: #fccdd3;
    margin-bottom: 7pt;
    font-family: arial, helvetica, "san-serif";
    opacity: 0.8;
}

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}

.paulkent-text {
    color: #fccdd3;
}


/*  footer styles
-------------------------------------------------- */
.footer-global {
    padding-top: 50px;
    margin-top: 100px;
    color: rgb(7, 20, 185);
    background-color: rgb(21,247,215);
}

.footer-divider {
    display: block;
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    bottom: -50px;
    left: 50%;
    margin-left: -50px;
    background-color: #dddddd; /** Change This Value ***/
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
}

/*  CAROUSEL
-------------------------------------------------- */
#myCarousel {
    margin-top: 25px;
}


.carousel-control {
    top: 76%;
}

.carousel-caption {
    z-index: 10;
}

.carousel .item {
    height: 330px;
    overflow: hidden;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}

/* navbar colors */


.navbar-default > * {
    background-color: rgb(32, 155, 236);
}

.navbar-default {
    border: none !important;
}

/*  CAROUSEL on halls page
-------------------------------------------------- */
/*.carousel .item-halls {
    height: 250px;
    overflow: hidden;
}*/

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 768px) {



    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        /*line-height: 1.4;*/
    }
}
