
.hall-options{
    padding-top:40px;
}
#book-hall{
    margin-top:50px;
}
#review-hall{
    margin-top:25px;
}
.share-box{
    padding-left:20px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
background-color:rgb(21,247,215);
color:black;
cursor:pointer;
}


#reviews {
     background-color:#12BBD5;
     color:rgb(18,84,213);
}

.author-cite{
    color: rgb(7, 20, 185);
}
#Shape{
    fill:rgb(21, 247, 215);
}
#Shape:hover{
    fill: #fccdd3
}